<div class="flex justify-center items-center min-h-[87vh]">
  <div class="w-full max-w-3xl my-[1.5rem] pb-[1.5rem]">

    <h2 class="text-3xl font-bold text-center text-[#004865] mb-8">
      レビューを編集
    </h2>

    <div
      class="bg-white pt-8 pb-10 px-10 rounded-xl shadow-lg space-y-4"
      data-controller="book-search"
      data-book-search-no-cover-url-value="<%= asset_path('no_cover.png') %>"

      data-book-search-initial-title-value="<%= @review.book&.title %>"
      data-book-search-initial-author-value="<%= @review.book&.author %>"
      data-book-search-initial-api-cover-url-value="<%= @review.book&.cover_url %>"
    >

      <%= render "book_search" %>

      <div class="mb-2">
        <h3 class="text-xl font-semibold text-[#004865]">編集内容</h3>
      </div>

      <%= render "form", review: @review, submit_label: "更新する" %>

    </div>
  </div>
</div>
