<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Book Image" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= turbo_include_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", defer: true %>

    <link rel="icon" href="<%= asset_path('favicon.png') %>" type="image/png" sizes="512x512">
    <link rel="apple-touch-icon" href="<%= asset_path('favicon.png') %>" sizes="180x180">

    <!-- ▼ OGP共通設定 -->
    <meta property="og:title"
          content="<%= content_for?(:og_title) ? yield(:og_title) : 'Book Image' %>">

    <meta property="og:description"
          content="<%= content_for?(:og_description) ? yield(:og_description) : '色から本を直感で選べるレビューアプリ Book Image' %>">

    <meta property="og:type" content="website">

    <meta property="og:image" content="<%= root_url %>ogp.png">
    <meta property="og:url" content="<%= request.original_url %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= root_url %>ogp.png">

    <%= yield :head %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- ▼ Google Analytics (GA4) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8QE47R0X7W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-8QE47R0X7W');
    </script>
    <!-- ▲ Google Analytics (GA4) -->

  </head>

  <body class="font-['Noto_Sans_JP'] bg-[#F4F4F4]">

    <!-- ▼ ヘッダー -->
    <%= render "layouts/header" %>

    <!-- ▼ フラッシュ -->
    <%= render "layouts/flash" %>

    <!-- ▼ ナビメニュー -->
    <div class="relative z-40">
      <%= render "layouts/nav" %>
    </div>

    <%# ▼ ページごとの height 設定（デフォルト min-h-screen） ▼ %>
    <% main_height_class = content_for?(:main_height) ? yield(:main_height) : "min-h-screen" %>

    <%# ▼ ページごとの背景色 ▼ %>
    <% main_bg_class = content_for?(:main_bg) ? yield(:main_bg) : "" %>

    <!-- ▼ メインコンテンツ -->
    <main class="pt-[7rem] <%= main_height_class %> <%= main_bg_class %>">
      <%= yield %>
    </main>

    <!-- ▼ フッター -->
    <%= render "layouts/footer" %>

  </body>
</html>
